<div class="ingredient-item">
  <div class="col-fixed">
    <div class="ingredient-image-container">
      @if(imageLoaded()){
      <img [src]="item().thumbs.small" [height]="55" [width]="55" />
      } @else {
      <i class="pi pi-spin pi-spinner"></i>
      }
    </div>
  </div>
  <div class="flex flex-wrap align-items-center w-full">
    <div class="col py-0 pr-2">
      <h4 class="ingredient-title m-0">
        {{ item().ingredient }}
      </h4>
    </div>
    <div class="col-12">
      <span class="ingredient-measure">
        {{ item().measure }}
      </span>
    </div>
  </div>
</div>
