<div class="flex flex-column">
  <div class="flex align-items-center">
    <div class="col pl-0">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          type="text"
          pInputText
          placeholder="Search"
          class="w-full"
          id="search"
          name="search"
          [(ngModel)]="searchValue"
          (input)="handleSearch()"
        />
        @if(isLoading()){
        <p-inputicon styleClass="pi pi-spinner pi-spin" />
        } @if(searchValue().length > 0 && !isLoading()){
        <p-button
          (onClick)="handleClear()"
          size="small"
          icon="pi pi-times"
          variant="text"
          class="clear-button"
        ></p-button>
        }
      </p-iconfield>
    </div>
    <ng-content></ng-content>
  </div>
  <div class="flex align-items-center mt-1">
    <div class="col px-0">
      <h4 class="m-0">Search Result</h4>
    </div>
    @if(results()){
    <div class="col-fixed">
      <span class="search-results"> {{ results() }} results </span>
    </div>
    }
  </div>
</div>
