<p-dialog
  header="Filter Search"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '40vw', height: '100dvh' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-wrap align-items-center">
    <div class="col">
      <h3 class="m-0">Ingredients ({{ this.totalRecords() }})</h3>
    </div>
    <div class="col-fixed">
      <p-select
        [placeholder]="'Select page'"
        name="page"
        [options]="this.totalPages()"
        [(ngModel)]="currentPage"
        (ngModelChange)="onPageChange()"
      ></p-select>
    </div>
  </div>
  @if(!isLoading()){
  <div class="flex flex-wrap">
    @for (item of currentData(); track $index) {
    <div class="col-fixed">
      <p-button
        [variant]="selected() === item.strIngredient ? undefined : 'outlined'"
        [label]="item.strIngredient"
        (onClick)="selected.set(item.strIngredient)"
      ></p-button>
    </div>
    }
  </div>
  } @else {
  <div class="flex flex-column">
    @for (item of loadingSkeletonData(); track $index) {
    <div class="flex-1 col">
      <p-skeleton width="100%" height="40px" />
    </div>
    }
  </div>
  }

  <p-divider />
  <ng-template #footer>
    <p-button label="Cancel" [outlined]="true" (click)="visible.set(false)" />
    <p-button label="Save" (click)="save()" [disabled]="!selected()" />
  </ng-template>
</p-dialog>
