html,
body,
app-root {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.h-50 {
    height: 50%;
}

.hidden {
    opacity: 0;
}

.page-container {
    max-width: 768px;
    margin: 0 auto;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
