@if(imageLoaded()) {
<!-- Sfondo: fuori dal flusso -->
<div
  class="landing-background"
  [style.backgroundImage]="'url(' + imgSrc() + ')'"
></div>
}

<div
  class="relative flex flex-column align-items-center justify-content-center h-full overflow-y-auto overflow-x-hidden"
>
  @if(imageLoaded()) {
  <div class="landing-content">
    <img
      src="./cook_hat.png"
      alt="Recipes Finder Logo"
      height="80"
      width="80"
    />
    <h3 class="m-0 mt-3">Recipes Finder</h3>
    <ng-content />
  </div>
  }
</div>

@if(!imageLoaded()) {
<div class="flex-1">
  <p-skeleton height="100dvh" width="100%"></p-skeleton>
</div>
}
