@if(imageLoaded()){
<div
  class="landing-container"
  [style]="{ 'background-image': 'url(' + imgSrc() + ')' }"
>
  <div class="flex flex-column">
    <div class="col">
      <img
        src="./cook_hat.png"
        alt="Recipes Finder Logo"
        height="80"
        width="80"
      />
    </div>
    <div class="col">
      <h3 class="m-0">Receips Finder</h3>
    </div>
    <ng-content />
  </div>
</div>
} @else{
<div class="flex-1">
  <p-skeleton height="100dvh" width="100%"></p-skeleton>
</div>
}
